
<h1>Administracion de articulos</h1>

<table border="" style="border-collapse: collapse; text-align: center; width: 40vw;">
	<thead>
		<th>Codigo</th>
		<th>Descripcion</th>
		<th>Precio</th>
		<th>Borrar</th>
		<th>Seleccionar</th>
	</thead>
	<tbody *ngFor="let dato of myArray">
		<td>{{ dato }}</td>
		<td>{{ dato }}</td>
		<td>{{ dato }}</td>
		<td>{{ dato }}</td>
		<td>{{ dato }}</td>
	</tbody>
</table>

<p>Codigo:</p>
<input type="number">

<p>Descripcion:</p>
<input type="text">

<p>Precio:</p>
<input type="number">

<br><br>
<button>Agregar</button>
<button>Modificar</button>